.wraper {
  background-color: #eee;
  width: 60%;
  padding: 15px;
  overflow-x: hidden;
  margin-top: 60px;
}
@media (max-width: 768px) {
  .wraper {
    width: 100%;
  }
}
.resultHeadline {
  margin-left: 10px;
}
.items {
  display: flex;
	flex-wrap: wrap;
}

.item {
  flex: 1 0 45%;
  box-sizing: border-box;
  margin: 10px 10px 10px 0;
  padding: 10px;
}
.itemAddress {
  min-height: 40px;
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 22px;
  margin-top: 5px;
}
.itemTitle {
  font-size: 15px;
  font-weight: 600;
  overflow: hidden;
  margin: 0;
}
.itemImage {
  position: relative;
}
.priceBox {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #393a73;
  color: #fff;
  width: 75px;
  text-align: center;
  border-radius: 0 5px 0 0;
}
.priceBox p {
  margin: 10px 0;
}
.itemImage img{
  width: 100%;
  height: auto;
}
