.header {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0;
  background-color: #393a73;
  color: #eee;
  z-index: 10;
}
.header a {
  text-decoration: none;
}
.logo {
  padding: 0px 20px;
  color: #eee;
}
